[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vendor/dwm.vim"]
	path = vendor/dwm.vim
	url = https://github.com/spolu/dwm.vim.git
[submodule "z"]
	path = z
	url = git://github.com/rupa/z.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
